/* masonry-layout.css */
.masonry {
    width: 1440px;
    margin: 20px auto;
    columns: 4;
    column-gap: 30px;
  }

.my-masonry-grid {
display: flex;
margin-left: -30px; /* gutter size offset */
width: auto;
}
.my-masonry-grid_column {
padding-left: 30px; /* gutter size */
background-clip: padding-box;
}

.my-masonry-grid_column > div {
margin-bottom: 30px; /* space between items */
}
  
